/****
Some useful CSS to improve the look and UX of your toolbars
**/
iframe.cke_wysiwyg_frame {
    padding: .5rem;
}
.cke_dialog_ui_vbox.cke_dialog_page_contents .cke_dialog_ui_checkbox {
    display: none;
}
.cke_combopanel {
    width: 300px;
    min-height: 400px;
}
.cke_toolbar_last {
    float: right;
}
.cke_button_label.cke_button__pastefromword_label,
.cke_button_label.cke_button__removeformat_label,
.cke_button_label.cke_button__showblocks_label,
.cke_button_label.cke_button__horizontalrule_label,
.cke_button_label.cke_button__creatediv_label,
.cke_button_label.cke_button__templates_label,
.cke_button_label.cke_button__codesnippet_label,
.cke_button_label.cke_button__anchor_label,
.cke_button_label.cke_button__table_label,
.cke_button_label.cke_button__image_label,
.cke_button_label.cke_button__linkit_label { display: inline !important; }
/* .cke_button_label:last-child { display: none !important; }    */
.cke_button_label.cke_button__linkit_label {   max-width: 24px; overflow: hidden; }
.cke_button_label.cke_button__creatediv_label {   max-width: 60px; overflow: hidden; }
